<div class="p-5" style="background-image: url(../../../assets/images/bg-img4.jpg)!important;box-sizing: border-box; padding: 0;margin: 0;background-position: center;background-repeat: no-repeat;">
    <div class="main-container">
        <div class="container card shadow" style="border-radius: 20px;">
            <section class="top">
                <h1>Overview</h1>
                <p>Pixels is an internet platform in which the general public can view the posts that consists of a title, videos, and photos with a tagline. It is a free website that is used by users from all around the world. It is established to connect
                    users from all around the world to admin side MBCET. The users using pixels can create their own account</p>
            </section>
            <section class="middle">
                <p>For voting the photos, the users must login and experience watching their feeds and view their status. 
                    The login credentials will be loaded beforehand and no registration setup is required. Each logged-in user can cast only one vote on any of the posts</p>
            </section>
            <section class="bottom">
                <p>The user information is kept secret and it is not allowed to share the data for other purposes. The users can use their profile with secrecy. Pixels don’t allow users that violate our license or policy agreements else their account will
                    be terminated.</p>
            </section>
        </div>
    </div>
</div>
