<div class="container">
    <div class="profile">
        <div class="profile-image">
            <img src="../../../assets/images/IEEE_MBCET-02.png" alt="" height="10px" width="10px">
        </div>

        <div class="profile-user-settings">
            <h1 class="profile-user-name">{{username}}</h1>

        </div>
        <div class="profile-bio">
            <span>
                Hey There, We are using PIXEL!!!
            </span>
        </div>
        <button class="btn profile-edit-btn mb-1" (click)="uploadImg()"> &nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button>
        <!-- <button class="btn profile-edit-btn" (click)="logOut()"> Log Out</button> -->
    </div>
</div>
<hr width="500" />
<tabset class="tab-set-bg" [justified]=true active=active>
    <tab heading="Posts">
        <div class="gallery">
            <div class="row">
                <div class="col-3" *ngFor=" let post of posts; let i=index;">
                    <img [src]="post.imageUrl" *ngIf="username==post.userName" class="gallery_img" (click)="showImg(post)" />
                    <i class="uil uil-trash text-danger" (click)="DeletePost(i)"></i>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Categories">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let filter of filters; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{filter.name}}</td>
                    <td (click)="deleteFilter(i)"><i class="uil uil-trash text-danger"></i></td>
                </tr>
            </tbody>
        </table>
    </tab>
</tabset>