<nav class="navbar navbar-expand-lg navbar-light bg-light shadow shadow-sm p-2 pl-2">
    <a class="navbar-brand icon-font ml-1" style="color: #FFB45C;" routerLink="/info">PIXEL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-item nav-link active" routerLink="/home"><i class="uil uil-estate"></i> Home</a>
            </li>
        </ul>

        <!-- <a class="nav-item nav-link mr-0" (click)=SignInModal()>LogIn/SignUp</a> -->
        <button class="btn btn-round btn-warning mx-2" style="border-radius: 30px;" routerLink="/sign-in">LogIn/SignUp</button>
    </div>
</nav>