<div class="fullPage mt-0">
    <div class="container mt-0">
        <section class="main-section mt-0">
            <div class="row mt-0">
                <div class="col-12">
                    <p (click)="toggleFilters()">Filter&nbsp;<i [ngClass]="{'fas':true, 'fa-chevron-down':toggler==true?false:true, 'fa-chevron-up':toggler==true?true:false}"></i></p>
                </div>
            </div>
            <div class="row" *ngIf="toggler==true">
                <div class="col-12">
                    <button type="button" class="btn btn-outline-secondary  mb-2 mx-1" [ngClass]="{'active':filter.selected==true?true:false}" *ngFor=" let filter of filters" (click)="selectFilter(filter)">{{filter.name}}</button>
                </div>
            </div>
            <hr>
            <div class="row mt-5" *ngIf="selectedPosts.length<1">
                <div class="col-6 offset-3">
                    <h3>No Results Found</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mb-3" *ngFor="let post of selectedPosts; let i as index;">
                    <div class="card shadow">
                        <div class="card-title mb-0 mt-2">
                            <h5 class="mb-0 pl-2">{{post.userName}}</h5>
                            <p class="mt-0 pl-2">{{post.location}}</p>
                        </div>
                        <div class="row mt-0">
                            <div class="col-12 mt-0">
                                <img [src]="post.imageUrl" height="200px" width="253px" class="mt-0 px-0 ">
                            </div>
                        </div>
                        <div class="row mt-0">
                            <div class="col-12 mt-0">
                                <span class="ml-1">{{post.caption}}</span>
                            </div>
                        </div>
                        <div class="row mt-0" *ngIf="loginStatus=='true'">
                            <div class="col-12 mt-0">
                                <span class=" fa-heart pl-1" style="font-size: 28px;" [ngClass]="{'text-danger':post.liked==true?true:false, 'fas':post.liked==true?true:false ,'far':post.liked==true?false:true }" (click)="liker(post.id)"></span>
                                <span class="uil uil-share ml-1" style="font-size: 30px;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>